#theme-wrap {
    position: relative;
    background-color:rgb(14, 119, 218);
    width: 90%;
    height: 80px;
    padding: 2px;
}

#theme {
    position: absolute;
    color: white;
    padding-left: 20px;
    top: 50%;
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
}

.wrap {
    border: solid 2px rgb(168, 197, 224);
    width: 90%;
    height: auto;
    height: 60px;
}

.form {
    width: 100%;
    height: 100%;
    position: relative;
}

.form-input {
    width: 95%;
    height: 55%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}