#theme {
    background-color:rgb(14, 119, 218);
    color: white;
    margin: 0px;
    width: 90%;
    padding: 2px;
}

#root {
    width: 90%;
}

.wrap {
    border: solid 2px rgb(168, 197, 224);
    width: 100%;
    height: auto;
}

.form {
    width: 100%;
    height: 100%;
}

.form-input {
    width: 100%;
    box-sizing: border-box;
}