#theme-wrap {
    position: relative;
    background-color:rgb(14, 119, 218);
    width: 90%;
    height: 80px;
    padding: 2px;
}

#theme {
    position: absolute;
    color: white;
    padding-left: 20px;
    top: 50%;
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
}

.wrap {
    border: solid 2px rgb(168, 197, 224);
    width: 90%;
    height: auto;
    background-color:gray;
}

.form {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: white;
}

.form-input {
    width: 95%;
    height: 55%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: 15px;
}

.lists {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 1px;
    position: relative;
}
#checkBox {
    margin-left: 20px;
}

#value-span {
    margin-left: 50px;
    font-size: 17px;
    font-weight: bold;
}

.box-span-checkbox {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#crossButtonBox {
    margin-left: 90%;
}

